body {
    font-family: Arial, Helvetica, sans-serif;

}




#badge {
    font-size: 35px;
    font-weight: bold;
    color: white;
    background-color: rgb(211, 70, 94);
    display: inline;
    padding: 8px;
    float: left;

}

/* Navigation Links */

#navi a {

    color: black;
    padding: 8px;
    float: right;
    margin-top: 16px;
    font-size: 15px;
    text-decoration: none;
}


/* #navi { */
/* margin-top: 16px; */

/* } */

#navi a:hover {
    color: rgb(211, 70, 94);
    ;
}

#esoro {
    text-align: center;
    padding-top: 30px;
}

/* footer */

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.sis {
    color: #3a3a3a;
    text-decoration: none;
}

.social-networks i {
    font-size: 160%;
    margin: 1px;
    padding: 5%;
    color: #3a3a3a;
}

/* Image */

#t-image img {
    background: url('../images/new.webp') no-repeat center center;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
}

#haupt {
    text-align: center;
    margin: auto;

}

#contact-us {
    margin-top: 40px;
}