/* The body */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}

/* The Badge */

#badge {
    font-size: 38px;
    font-weight: bold;
    color: white;
    background-color: rgb(21, 15, 57);
    display: inline;
    padding: 10px;
    float: left;
    text-transform: uppercase;
    margin-left: 2px;

}

#fuss {
    text-transform: lowercase;
    font-size: 28px;
    font-weight: bold;
}



/* Navigation Links */

#navi a {

    color: rgb(26, 85, 117);
    padding: 8px;
    float: right;
    margin-top: 14px;
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 4px;
}

#navi {
    position: static;
}







#navi a:hover {
    color: rgb(197, 26, 43);
}

#esoro {
    text-align: center;
    padding-top: 30px;
}

/* footer */

#cola {
    margin-bottom: -25px;
    background-color: rgb(25, 21, 56);
    margin-left: -4px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.sis {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.social-networks i {
    font-size: 160%;
    margin: 1px;
    padding: 5%;
    color: rgb(255, 255, 255);
}

/* Image */

#t-image img {
    background: url('../images/new.webp') no-repeat center center;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
}

#haupt {
    text-align: center;
    margin: auto;
    max-width: 1200px;
    padding: 2px;

}

#messsi {
    padding-top: 80px;
}

#contact-us {
    margin-top: 50px;
    text-align: center;
    padding-top: 10px;

    color: rgb(41, 3, 3);
}

/* Sign-in Form */
.form {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 550px;
    background-color: rgb(31, 27, 77);
    align-items: center;
    margin: auto;
    margin-top: 50px;
}



.form h1 {
    font-size: 2.0rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 40px;
    color: white;
}

/* Boxes */
.box {
    padding: 12px;
    margin: 15px;
    width: 65%;

}

/* submit boxe */

#submit {
    padding: 12px;
    width: 50%;
    margin: 40px;
    background-color: green;
    font-weight: bolder;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    color: white;
}

#submit:hover {
    cursor: pointer;
    background-color: rgb(116, 174, 205);
}

/* Link */

.form a {
    text-decoration: none;
    color: white;
}

.form a:hover {
    color: red;
}

/* Background */
#lionel {
    background: url(../images/try2.png) no-repeat center center;
    height: 600px;
    width: 100%;

}



/* media queries */

/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 600px) {
    .form {

        margin-top: -10px;
        width: auto;

    }

    @media screen and (max-width: 600px) {
        #lionel {


            width: auto;

        }

    }

}

@media screen and (max-width: 950px) {
    #navi {
        clear: left;
        float: left;
        margin-left: 5px;
        margin-bottom: 40px;
        line-height: 20px;
        margin-top: -10px;
    }

}



@media screen and (max-width: 950px) {
    .form {
        clear: left;
        float: left;
        margin-left: 5px;
        margin-bottom: 40px;
        line-height: 20px;

    }

}

#jesus {
    color: rgb(116, 190, 57);
    font-weight: lighter;
}